* {
  -webkit-border-radius: 1px !important;
     -moz-border-radius: 1px !important;
          border-radius: 1px !important;
}

#page-header {
	background-color: #f4511e;
	color: #ffffff;
	padding: 100px 25px;
}

.container-fluid {
	padding: 60px 50px;
}

.bg-grey {
	background-color: #f6f6f6;
}

.logo {
	font-size: 200px;
}